# macOS
.DS_Store

# LaTeX temporary files
*.aux
*.log
*.toc
*.fls
*.blg
*.bbl
__latexindent_temp.tex
*.out
*-blx.bib
*.run.xml

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# Dataset
data/

# Misc
.ipynb_checkpoints
tmp/
term-project/Real-ESRGAN/